<div class="md-form">
  <input class="form-control"
    type="text"
    class="completer-input form-control mdb-autocomplete"
    [ngModel]="searchText | async"
    (ngModelChange)="searchText.next($event)"
    [matAutocomplete]="auto"
    (keyup)="onkeypress($event)"

  />
  <!-- <select name="" id="">
    <option value="fa">fa</option>
  </select> -->
  <mat-autocomplete #auto='matAutocomplete' textNoResults="I have found no results :(">
    <mat-option  *ngFor="let option of results | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</div>

<!-- <input type="text" (keyup)="filters($event)"> -->
